<mat-form-field class="example-form-field">
    <input matInput type="text" [(ngModel)]="value" (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
<div class="mat-elevation-z8">

  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container [matColumnDef]="column.field" *ngFor='let column of columns' [ngSwitch]='column.type'>

      <ng-container *ngSwitchDefault>


      </ng-container>

      <ng-container *ngSwitchCase="'string'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.title}}</th>
        <td mat-cell *matCellDef="let row">
          {{row[column.field]}}
        </td>
      </ng-container>

      <ng-container *ngSwitchCase="'number'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.title}}</th>
        <td mat-cell *matCellDef="let row">
          {{row[column.field]}}
        </td>
      </ng-container>

      <ng-container *ngSwitchCase="'boolean'">
        <th mat-header-cell *matHeaderCellDef>{{column.title}}</th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [checked]="row[column.field]" [disabled]='true'> </mat-checkbox>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[5, 10, 100, 250]">
  </mat-paginator>
</div>
{{selection.selected |json}}
